* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #11101d;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #11101d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

section nav .logo img {
    width: 50px;
    cursor: pointer;
    margin: 7px 0;
    filter: brightness(0) invert(1); 
}

section nav ul {
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    font-family: Comic Sans MS;
    transition: 0.1s;
}

section nav ul li a:hover {
    color: #69f0ae;
}

section nav .icon i {
    font-size: 18px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover {
    color: #69f0ae;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a i {
    font-size: 20px;
}

.social-icons a:hover {
    color: #69f0ae;
}


















.recipes {
    background-color: #11101d;
    padding: 50px;
    text-align: center;
}

.text-recipes {
    max-width: 800px;
    margin: 0 auto;
}

.text-recipes h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #fff;
    font-family: Comic Sans MS;
}

.text-recipes h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #fff;
    font-family: Comic Sans MS;
}
.text-recipes p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #fff;
    font-family: Comic Sans MS;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}


















.hero-container {
    background: #11101d;
    padding: 40px;
    border: 2px solid white;
    border-radius: 10px;
    height: 510%;
    width: 100%;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero-text {
    margin-left: 360px;
    font-family: Comic Sans MS;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}


.hero-text p {
    color: white;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 40px;
    font-family: Comic Sans MS;
}

.hero-img img {
    width: 500px;
    height: auto;
}

.asocial-icons {
    display: flex;
    align-items: center;
}

.asocial-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 20px;
    transition: color 0.3s;
}

.asocial-icons a i {
    font-size: 20px;
}

.asocial-icons a:hover {
    color: #fac031;
}










.ihero-text h2 {
    font-size: 30px;
    line-height: 1;
    color: white;
    margin: 0 45px 45px 0;
    font-family: Comic Sans MS;
    border-bottom: 2px solid #fff; 
    display: inline-block;
    padding-bottom: 7px;
}

.ihero-text p{
    color: white;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 40px;
    font-family: Comic Sans MS;
    text-align: left;
}

.ihero-text h1 {
    font-size: 30px;
    line-height: 1;
    color: white;
    margin: 0 45px;
    font-family: Comic Sans MS;
    margin-top: 150px;
}